* {
  box-sizing: border-box;
}

header {
  background-color: #303F9F;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 0 16px;
}

header button {
  background-color: #E040FB;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}

main {
  max-width: 1200px;
  margin: 36px auto;

}
